/* FOR 32 PORTS */
.jport-config-holder {
	width: 900px; 
	height: 1400px; 
}
.jport-config-port-layout {
	width: 700px; 
}
.jport-config-wireframe {
	height: 80px; 
}
.jport-config-grid .jport-config-grp .jport-config-port {
	width: 25px; 
	height: 20px;
	margin: 0 1px 10px; 
}
.jport-config-portnum {
	line-height: 22px; 
}
.jport-config-trunk,
.jport-config-quad,
.jport-config-dual,
.jport-config-single,
.jport-config-unlag {
	height: 150px;
}